.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, #284e99e3, #430652);
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
*{
    font-family: 'poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.todo-list{
    background-color: #fff;
    justify-content: center;
    width: 35rem;
    height: 35rem;
    z-index: 1000;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.2);
}
.todo-list h1{
    text-align: center;
    font-size: 2rem;
    color: #f15b15;
    margin-top: 1rem;
}
#todo-input{
    background-color: transparent;
    border:none;
    font-family: 'poppins', sans-serif;
    width: 70%;
    padding-right: 0.2rem;
    font-size: 1rem;
}
.todo-input form{
    width: 100%;
}
input:focus{
    outline: none;
}
.todo-input{
    display: flex;
    height: 2rem;
    margin-left: 2.5rem;
    padding: 0.3rem 0rem 0.3rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
    background-color: #c0bcbc9f;
    align-items: center;
    justify-items: center;
    width: 80%;
}
.todo-input button{
    padding: 0.7rem 3rem 0.7rem 3rem;
    background-color: #f15b15;
    color: white;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
}
.todo-input button:hover{
    background-color: #e08720cc;
}
#todo-items{
    overflow-y: auto;
    height: 25rem;
    text-align: left;
}
li.unchecked{
    list-style: none;
    padding: 0.5rem 0rem;
    padding-left: 2rem;
    font:1rem 'poppins', sans-serif;
    position: relative;
    cursor: pointer;
    font-family: 'poppins', sans-serif;

}
li.checked{
    list-style: none;
    padding: 0.5rem 0rem;
    padding-left: 2rem;
    position: relative;
    cursor: pointer;
    text-decoration: line-through;
    color: #a9a9a9;
    font: 1rem 'poppins', sans-serif;
}
li.unchecked::before{
    content:'';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 0.2rem;
}
li.checked::before{
    content:'';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url(assets/checked.png);
    background-size: cover;
    background-position: center;
    left: 0.2rem;
}
span{
    position: absolute;
    right: 3rem;
    cursor: pointer;
    color: #f15b15;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    z-index: 1000;
    text-align: center;
    border-radius: 50%;
}
span:hover{
    background-color: #edeef0;
}